.home-card{
    background-color: #050505a2;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 30px 10px;
    overflow: hidden;
    max-width: 1200px; 
    height: 800px;

    th{
        background-color: #050505f6;
        color: $white;
        padding: 20px 20px;
        border-bottom:1px solid #ffffff4f;
    }
    td{
        padding: 20px 20px;
        background-color:transparent;
        color: $white;
        border-bottom:1px solid #ffffff4f;
    }


    .btn-border{
        border-bottom: 3px solid transparent;
        border-radius: 0;
        transition: border-bottom 0.5s ease;
    }
    .btn-border:hover{
        border-bottom: 3px solid #214b8bf6;
        border-radius: 0;
    }



    .photo-area {
        width: 100%;
        height: 470px; 
        overflow: hidden;
        border-radius: 12px;

        .photo-item {
            width: 100%;
            height: 120px;
            overflow: hidden;
            transition: height 0.35s ease;
            &:hover {
                height: 400px;
            }
        }
    }


    .sliding-container {
        display: flex;
        width: 200%;
        transition: transform 0.6s cubic-bezier(0.25, 1, 0.8, 1); 
    }


    .view-section {
        width: 50%;
        padding: 2rem;
        flex-shrink: 0;
    }


    .sliding-container.show-detail {
        transform: translateX(-50%);
    }

    .table-responsive, 
    .view-section {
        scrollbar-width: thin; 
        scrollbar-color: rgba(50, 84, 116, 0.534) transparent; 
    }




    
}

