.home-card{
    background-color: #0505055e;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 30px 10px;
    overflow: hidden;
    max-width: 1200px; 

    tr{
        transition: 0.2s ease;
        &:hover{
            background-color: #c0c4ca34;
        }
    }

    th{
        background-color: #141414ce;
        color: $white;
        padding: 20px 20px;
        border-bottom:1px solid #000000ec;
        backdrop-filter: blur(20px);
    }
    td{
        padding: 20px 20px;
        background-color:transparent;
        color: $white;
        border-bottom:1px solid #000000ec;
    }

    


    .btn-border{
        border-bottom: 3px solid transparent;
        border-radius: 0;
        transition: border-bottom 0.5s ease;
    }
    .btn-border:hover{
        border-bottom: 3px solid #5c5c5cf6;
        border-radius: 0;
    }

    
    .photo-area {
        width: 100%;
        height: 470px; 
        overflow: hidden;
        border-radius: 12px;

        .photo-item {
            width: 100%;
            height: 120px;
            overflow: hidden;
            transition: height 0.35s ease;
            &:hover {
                height: 400px;
            }
        }
        .photo-upload{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            transition: background-color 0.3s ease; 
            &:hover{
                background-color: rgba(73, 73, 73, 0.363);
            }
        }

    }


    .sliding-container {
        display: flex;
        width: 200%;
        transition: transform 0.6s cubic-bezier(0.25, 1, 0.8, 1); 
    }


    .view-section {
        width: 50%;
        padding: 1rem 2rem;
        flex-shrink: 0;
    }


    .sliding-container.show-detail {
        transform: translateX(-50%);
    }

    .table-responsive, 
    .view-section {
        scrollbar-width: thin; 
        scrollbar-color: rgba(70, 70, 70, 0.74) transparent; 
    }




    
}

.add-card{
    background-color: transparent;
    overflow: hidden;
    max-width: 1200px; 
    th{
        background-color: transparent;
        color: $white;
        padding: 20px 20px;
        border-bottom:1px solid #000000ec;
        backdrop-filter: blur(20px);
    }
    td{
        padding: 20px 20px;
        background-color:transparent;
        color: $white;
        border-bottom:1px solid #000000ec;
    }
    scrollbar-width: thin; 
    scrollbar-color: rgba(70, 70, 70, 0.74) transparent; 
}

