@import 'bootstrap/scss/functions'; 
@import './style/variables';
@import './style/variables-dark';
@import 'bootstrap/scss/bootstrap.scss'; 

@import './style/base';
@import './style/home';
@import './style/button';
@import './style/loading';
@import './style/custom-modal'


